<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.studentapp">

    <!-- صلاحية الإنترنت -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:networkSecurityConfig="@xml/network_security_config"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StudentApp"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <!-- نقطة البداية -->
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MarksActivity" android:exported="false" />
        <activity android:name=".ScheduleActivity" android:exported="false" />
        <activity android:name=".UploadAssignmentActivity" android:exported="false" />
        <activity android:name=".TeacherLoginActivity" android:exported="false" />
        <activity android:name=".TeacherHomeActivity" android:exported="false" />
        <activity android:name=".TeacherScheduleActivity" android:exported="false" />
        <activity android:name=".TeacherMarksActivity" android:exported="false" />
        <activity android:name=".TeacherAssignmentActivity" android:exported="false" />
        <activity android:name=".LoginActivity" android:exported="false" />
        <activity android:name=".AddStudentActivity" android:exported="false" />
        <activity android:name=".AddCourseActivity" android:exported="false" />
        <activity android:name=".RegisterRoleActivity" android:exported="false" />
        <activity android:name=".MainMenuActivity" android:exported="false" />

        <activity
            android:name=".StudentHomeActivity"
            android:exported="false"
            android:label="@string/title_activity_student_home"
            android:theme="@style/Theme.StudentApp" />

        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <activity android:name=".EditUserActivity" android:exported="false" />
        <activity android:name=".GradesListActivity" android:exported="false" />
        <activity android:name=".UsersListActivity" android:exported="false" />

    </application>

</manifest>
